.App {
  text-align: center;
  font-size: 18px;
  background-color: #ffffff;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar{
  line-height: 1.5;
  background-color: #6d0f14;
  margin-bottom: 15px;
}

.navbar-brand{
  color: #ffffff;
  font-family: 'Lobster', cursive;
}

h3 {
  color: #000000;
  font-size: 1em;
}

h4 {
  color: #6d0f14;
  font-size: .7em;
  margin-bottom: 10px;
}

.thumbnail{
  margin-right: 10px;
}

.card {
  margin-bottom: 15px;
  background-color: #6d0f14;
}

.card-title {
  font-size: .8em;
  text-align: left;
  color: #ffffff;
}

.card-subtitle {
  font-size: .7em;
  text-align: left;
  color: #dde0e2;
  margin-bottom: 15px;
}

.list-group-item {
  text-align: center;
  font-size: .8em;
  background-color: #f7f7f7;
}

.no-selection{
  color: #f7f7f7;
  font-size: .9em;
  font-weight: 600;
}

.form-check-label{
  color: #f7f7f7;
}

.remove-selection{  
  float: right;  
  color: #6d0f14;
  font-weight: 900;
}

#standings {
  text-align: left;
}

.main-tab-nav{
  margin-bottom: 25px;
}

.table{
  background-color: #ffffff;
}

.img-bw{
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.thumb-label{
  text-align: center;
  margin: 0 0 0 0;
}

.card-text{
  color: #ffffff;
}

.answers p, li{
  font-size: 0.7em;
  text-align: left;
} 
.answers-gif{
  margin-bottom: 25px;
}